.stretch-text {
    transform: scaleY(2);
}

/* circle text */
.ring-container {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring-text {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: translateZ(-150px) rotateX(90deg);
    animation: spin 10s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes spin {
    from {
        transform: translateZ(-150px) rotateX(90deg) rotateZ(0deg);
    }

    to {
        transform: translateZ(-150px) rotateX(90deg) rotateZ(360deg);
    }
}


/* contact button */
button:hover {
    cursor: pointer;
}

.btn-two {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

.btn-two span:hover {
    cursor: pointer;
}

.btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}